<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.servlet.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllAccountServlet</servlet-name>
        <servlet-class>com.servlet.AllAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <servlet-class>com.servlet.CustomerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountServlet</servlet-name>
        <servlet-class>com.servlet.AddAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloseAccountServlet</servlet-name>
        <servlet-class>com.servlet.CloseAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassServlet</servlet-name>
        <servlet-class>com.servlet.ChangePassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferServlet</servlet-name>
        <servlet-class>com.servlet.TransferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLogout</servlet-name>
        <servlet-class>com.servlet.CustomerLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositServlet</servlet-name>
        <servlet-class>com.servlet.DepositServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawServlet</servlet-name>
        <servlet-class>com.servlet.WithdrawServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllTransactions</servlet-name>
        <servlet-class>com.servlet.AllTransactions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllAccountServlet</servlet-name>
        <url-pattern>/AllAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <url-pattern>/CustomerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountServlet</servlet-name>
        <url-pattern>/AddAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloseAccountServlet</servlet-name>
        <url-pattern>/CloseAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassServlet</servlet-name>
        <url-pattern>/ChangePassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferServlet</servlet-name>
        <url-pattern>/TransferServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLogout</servlet-name>
        <url-pattern>/CustomerLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositServlet</servlet-name>
        <url-pattern>/DepositServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawServlet</servlet-name>
        <url-pattern>/WithdrawServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllTransactions</servlet-name>
        <url-pattern>/AllTransactions</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
